<div class="unit one-fifth hide-on-mobiles">
   <aside>
      <h4>Latest Posts</h4>
      <ul>
         <li><a href="/posts.html#1">Web Dev.</a></li>
         <li><a href="/posts.html#2">Software Dev.</a></li>
      </ul>
      <h4>Latest Projects</h4>
      <ul>
         <li><a href="/projects.html#1">Web Dev.</a></li>
         <li><a href="/projects.html#2">Software Dev.</a></li>
      </ul>
      <h4>Archive</h4>
      <ul>
         <li><a href="/posts.html">2020</a></li>
         <li><a href="/projects.html2">Older..</a></li>
      </ul>
   </aside>
</div>