<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
      <script type="text/javascript">window.baseurl = '{{ site.url }}';</script>
      {% include css.html %}
  </head>

  <body class="home overflow-hidden">
    

    <div class="container main outer">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          {% include aside.html %}
        </div>
        <div class="col-md-9 col-xs-12 full">
          {{ content }}
          <div class="row">
            <div class="col-md-12 col-xs-12 footer">
              {% include footer.html %}
            </div>
          </div>
        </div> <!-- end /.col-md-9 -->
      </div> <!-- end /.row -->
    </div>

  </body>
</html>
