<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body class="wrap">
      <header>
         <div class="flexbox">
            <div class="center-on-mobiles">
               <h1>
                  <a href="/" class="logo">
                  <span class="sr-only">MC-Source</span>
                  <img src="/assets/images/logo.png" width="140" height="65" alt="Logo">
                  </a>

               </h1>
            </div>

            {% include navigation.html %}
            
            {% include search_form.html %}
            
            <div class="meta hide-on-mobiles">
               <ul>
                  <li><a href="https://github.com/mc-source/mc-source.github.io">GitHub</a></li>
               </ul>
            </div>
         </div>

		     {% include navigation-mobile.html %}
      </header>
      <section class="docs">
         <div class="grid">
            <div class="docs-nav-mobile unit whole show-on-mobiles">
               <select onchange="if (this.value) window.location.href=this.value">
                  <option value="">Navigate the docs…</option>
                  <optgroup label="Getting Started">
                     <option value="/docs/">Quickstart</option>
                     <option value="/docs/ruby-101/">Ruby 101</option>
                     <option value="/docs/installation/">Installation</option>
                     <option value="/docs/community/">Community</option>
                     <option value="/docs/step-by-step/01-setup/">Step by Step Tutorial</option>
                  </optgroup>
                  <optgroup label="Build">
                     <option value="/docs/usage/">Command Line Usage</option>
                     <option value="/docs/configuration/">Configuration</option>
                     <option value="/docs/rendering-process/">Rendering Process</option>
                  </optgroup>
               </select>
            </div>
            <div class="unit four-fifths">
               <article>
                  <div>                 	
                  	{{ content }} 
                  </div>

                  <div class="clear"></div>
                 <!--  <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam totam quis officia nam blanditiis harum corrupti alias esse velit itaque atque ratione voluptates, animi ipsa! Sequi culpa, provident consequatur?
                 </p> -->
                  <!-- <ol class="step-nav">
                     <li><a href="/docs/step-by-step/01-setup/">Setup</a></li>
                     <li><a href="/docs/step-by-step/02-liquid/">Liquid</a></li>
                     <li><a href="/docs/step-by-step/03-front-matter/">Front Matter</a></li>
                     <li><a href="/docs/step-by-step/04-layouts/">Layouts</a></li>
                     <li><a href="/docs/step-by-step/05-includes/">Includes</a></li>
                     <li><a href="/docs/step-by-step/06-data-files/">Data Files</a></li>
                     <li><a href="/docs/step-by-step/07-assets/">Assets</a></li>
                     <li class="current"><a href="/docs/step-by-step/08-blogging/">Blogging</a></li>
                     <li><a href="/docs/step-by-step/09-collections/">Collections</a></li>
                     <li><a href="/docs/step-by-step/10-deployment/">Deployment</a></li>
                  </ol> -->
               </article>
            </div>
            
            {% include aside.html %}
            
            <div class="clear"></div>
         </div>
      </section>

      {% include footer.html %}
      
   </body>
</html>